<!-- needed for mobile django may already have this -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- /needed for mobile django may already have this -->


<style>
	@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

	nav.django-admin-simplified-nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		padding: 13px 16px 4px 0;
		position: relative;
	}

	nav.django-admin-simplified-nav::before {
		display: block;
		content: '';
		width: 100%;
		height: 24px;
		background-image: url('https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/pattern_yellow_small.jpg');
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
	}

	nav.django-admin-simplified-nav a {
		text-decoration: none;
		box-sizing: border-box;
	}

	nav.django-admin-simplified-nav img.logo {
		height: 96px;
		width: auto;
		display: block;
		box-sizing: border-box;
	}

	nav.django-admin-simplified-nav>div img {
		height: 52px;
		width: 52px;
		object-fit: contain;
		object-position: center;
		margin: 0 0 0 12px;
		box-sizing: border-box;
	}

	@media only screen and (max-width: 550px) {
		nav.django-admin-simplified-nav img.logo {
			height: 72px;
		}

		nav.django-admin-simplified-nav>div img {
			height: 40px;
			width: 40px;
			margin: 8px 0 0 12px;
		}
	}
</style>
<nav class="django-admin-simplified-nav">
	<a href="https://imsesite.wpengine.com/">
		<img class="logo" src="https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/logo-imse-bg.svg"
			alt="Back to imse.com" />
	</a>
	<div>
		<a href="https://imsesite.wpengine.com/">
			<img src="https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/icon-home.svg"
				alt="Back to imse.com" />
		</a>
		<a href="tel:+18442923249">
			<img src="https://imsesite.wpengine.com/wp-content/themes/starting-point/dist/images/icon-call.svg"
				alt="Call IMSE at (800) 646-9788" />
		</a>
	</div>
</nav>