/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	padding: var(--Large);
	background-color: var(--GreyLight);

	&>div {
		max-width: 1500px;
		margin: 0 auto;

		&>div:first-child {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-column-gap: 40px;

			@media(--phone) {
				grid-template-columns: repeat(2, 1fr);
			}

			&>div {
				& .title {
					display: block;
					margin: var(--Large) 0 var(--Medium) 0;
					font-weight: 800;
					padding-right: 10px;

					@media(--phone) {
						margin: 0 0 var(--Medium) 0;
						text-align: right;
					}
				}

				& img.logo {
					width: auto;
					height: 96px;
					margin-left: -10px;
				}

				& address {
					display: none;
					padding-left: var(--Medium);
					font-style: normal;

					@media(--phone) {
						display: block;
					}

					& a.button {
						margin: 0;
					}
				}

				& nav ul {
					display: flex;
					flex-wrap: wrap;
					justify-content: flex-start;
					align-items: center;

					@media(--phone) {
						justify-content: flex-end;
					}

					& a {
						margin: 0 var(--Small) var(--Small) 0;
						padding: 0;
						border-radius: 50%;
						background-color: transparent;

						@media(--phone) {
							margin: 0 0 var(--Small) var(--Small);
						}

						&:hover,
						&:focus {
							background-color: hsl(0, 0%, 80%);
						}

						& img {
							display: block;
						}
					}
				}
			}
		}
	}
}

/*-----------------------------------*\
	COPYRIGHT FOOTER
\*-----------------------------------*/
footer.copyright {
	padding: var(--Medium);
	background-image: url(../images/pattern_yellow_wide.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 1500px;
		margin: 0 auto;

		@media(--phone) {
			flex-wrap: nowrap;
		}

		&>a {
			margin: 0 auto;

			@media(--phone) {
				margin: 0;
			}
		}

		& img {
			display: block;
		}

		&>div {
			& p {
				margin: 0;
				color: var(--Black);
				font-size: 14px;
				line-height: 1;
			}

			& ul {
				display: block;
				justify-content: flex-start;
				align-items: center;
				margin: var(--Medium) 0;
				padding: 0;

				@media(--phoneold) {
					display: flex;
				}

				@media(--phone) {
					margin: 0;
				}

				& li {
					padding: 0;

					&:before {
						display: none;
					}

					&:first-child a,
					&:first-child button {
						padding-left: 0;
					}

					&:last-child a,
					&:last-child button {
						border: none;
					}
				}
			}

			& a,
			& button {
				padding: 0;
				border-radius: 0;
				color: var(--Black);
				font-weight: 400;
				font-size: 14px;
				line-height: 1;
				text-align: left;
				text-decoration: none;
				background-color: transparent;
				box-shadow: none;

				@media(--phoneold) {
					padding: 0 var(--Small);
					border-right: 1px solid var(--Black);
					text-align: center;
				}

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
	}
}