/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 80%;
	max-width: 960px;
	margin: 88px auto;
	padding: var(--Large) var(--Large) 64px var(--Large);
	text-align: center;
	background-color: var(--GreyLight);
	z-index: inherit;

	@media(--tablet) {
		padding: var(--xLarge) var(--Large) 80px var(--Large);
	}

	&::before {
		display: block;
		z-index: -1;
		position: absolute;
		bottom: -150px;
		left: -200px;
		width: 500px;
		height: 500px;
		content: "";
		background-image: url(../images/sand.png);
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
		transform: rotate(230deg);
	}

	&::after {
		display: block;
		z-index: -1;
		position: absolute;
		right: -200px;
		bottom: -75px;
		width: 500px;
		height: 500px;
		content: "";
		background-image: url(../images/sand.png);
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
		transform: rotate(42deg);
	}

	&>div {
		z-index: 2;
		position: relative;
		max-width: 650px;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	&>a.button {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

main>article>section.cover:not(.is-full-width):last-child {
	margin-bottom: 200px;
}

/*-----------------------------------*\
	COVER + BACKGROUND
\*-----------------------------------*/
.card-grid+.cover.is-full-width {
	min-height: 60vh;
	margin-top: -20vh;
	padding: calc(20vh - 80px) 0 0 0;
	z-index: 0;

	@media(--tablet) {
		min-height: 80vh;
	}
}

.cover.is-full-width {
	z-index: 0;
	position: relative;
	width: 100%;
	max-width: 100%;
	min-height: 60vh;
	padding: 0 0 0 0;
	text-align: left;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;

	&:before,
	&:after {
		display: none;
	}

	&>div {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;

		&>div {
			max-width: 400px;
			margin: 0 auto;
			text-align: center;

			@media(--tablet) {
				margin: 0;
				text-align: left;
			}

			&>*:first-child {
				margin-top: 0;
			}
		}
	}
}

main>article>section.cover.is-full-width:last-child {
	margin-bottom: -64px;
}