/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
.media-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: var(--xLarge) auto;

  &.image-cover.has-image-on-left,
  &.image-cover.has-image-on-right {
    align-items: initial;

    & > div:first-child::after {
      display: none;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.has-image-on-left {
    & > div:first-child::after {
      display: block;
      z-index: -1;
      position: absolute;
      bottom: -150px;
      left: -200px;
      width: 500px;
      height: 500px;
      content: "";
      background-image: url(../images/sand.png);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      transform: rotate(45deg);
    }
  }

  &.has-image-on-right {
    & > div:first-child::after {
      display: block;
      z-index: -1;
      position: absolute;
      right: -200px;
      bottom: -75px;
      width: 500px;
      height: 500px;
      content: "";
      background-image: url(../images/sand.png);
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      transform: rotate(45deg);
    }
  }

  & > div {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &:first-child {
      margin: 0 0 var(--Large) 0;

      @media(--tablet) {
        margin: 0;
      }
    }

    & > *:first-child {
      margin-top: 0;
    }

    & img {
      display: block;
      z-index: 2;
      position: relative;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  @media(--tablet) {
    flex-wrap: nowrap;

    & > div {
      width: 45%;
    }
  }
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
  @media(--tablet) {
    &.has-image-on-right {
      & > div:first-child {
        order: 2;
      }

      & > div:last-child {
        order: 1;
      }
    }
  }
}
