/*-----------------------------------*\
	TESTIMONIES
\*-----------------------------------*/
section.testimonies {
	position: relative;
	width: 100%;
	margin: 120px auto;

	& h2 {
		text-align: center;
	}

	& ul.slick-slider {
		padding: 0;
		margin: 64px 0 0 0;

		& li {
			padding: 0 16px;

			@media(--tablet) {
				padding: 0 24px;
			}

			&::before {
				display: none;
			}

			& blockquote {
				padding: 0;
				border: 0;
				margin: 0;
				font-size: inherit;

				& p {
					font-style: italic;
					position: relative;
					padding: 24px 0 0 24px;

					& span {
						color: var(--Red);
						font-size: 56px;
						font-style: normal;
						position: absolute;
						top: 0;
						left: 0;
						line-height: 1;
					}
				}
			}
		}
	}

	& ul.slick-dots {
		max-width: 80%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 64px auto 0 auto;
		padding: 0;

		& li {
			padding: 0;
			margin: 0;

			& button {
				margin: 0 12px;
				padding: 0;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				overflow: hidden;
				min-width: 0;
				text-indent: -100000px;

				@media(--tablet) {
					margin: 0 8px;
				}

				&:focus {
					outline: none;
					background-color: var(--Blue);
				}
			}

			&.slick-active button {
				background-color: var(--Blue);
			}
		}
	}
}