/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --phoneold (min-width: 400px);

@custom-media --phone (min-width: 500px);

@custom-media --tablet (min-width: 800px);

@custom-media --laptop (min-width: 1050px);

@custom-media --desktop (min-width: 1400px);

div {
	@media(--phoneold) {
		box-sizing: inherit;
	}

	@media(--phone) {
		box-sizing: inherit;
	}

	@media(--tablet) {
		box-sizing: inherit;
	}

	@media(--laptop) {
		box-sizing: inherit;
	}

	@media(--desktop) {
		box-sizing: inherit;
	}
}

/*-----------------------------------*\
	HTML/BODY
\*-----------------------------------*/
html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	color: var(--GreyDark);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.618;
	font-family: 'Karla', sans-serif;
	background: var(--White);
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
}

html,
body {
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus {
	outline: 1px solid var(--Blue);
	box-shadow: 0 0 5px var(--Blue);
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
	position: relative;
	max-width: 100vw;

	&>article {
		margin: var(--xLarge) auto;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}
}

/*-----------------------------------*\
	SECTION SIZES
\*-----------------------------------*/
.standard {
	width: 90%;
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

.is-narrow {
	width: 90%;
	max-width: 640px;
	margin-right: auto;
	margin-left: auto;
}

.is-wide {
	width: 90%;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
}

.is-extra-wide {
	width: 90%;
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
}

.is-full-width {
	width: 100%;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}

section {
	margin: var(--xLarge) auto;
	z-index: 4;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}
}

/*-----------------------------------*\
	DEFAULT WP CLASSES
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img.alignright {
	display: block;
	float: right;
	max-width: 100%;
	height: auto;
}

img.alignleft {
	display: block;
	float: left;
	max-width: 100%;
	height: auto;
}

img.aligncenter {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 1em auto;
}

.wp-caption {
	margin-bottom: 1.5em;
	padding-top: 5px;
	text-align: center;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	margin: 0;
	font-size: 10px;
	line-height: 1.5;
}

.wp-smiley {
	max-height: 1em;
	margin: 0 !important;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	z-index: 999999;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.35s linear;
	transform: translateY(-100%);

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	E5 CREDIT
\*-----------------------------------*/
#element5-credit {
	position: relative;

	& a {
		position: absolute;
		right: 0;
		transform: translateY(-125%);
	}
}