/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-confirmation {
	& main>article>p {
		text-align: center;
	}
}