/*----------------------------------------------------------------*\
	ONE OFF STYLES SPECIFIC TO PAGE ID
\*----------------------------------------------------------------*/

/*------------------------------*\
	IN THE NEWS
\*------------------------------*/
body.page-id-473 {
  & section.card-grid.text-cards {
    & .card {
      padding: 32px 40px;

      &::before {
        display: none;
      }
    }
  }
}

/*------------------------------*\
	ACCREDITED PARTNER
\*------------------------------*/
body.page-id-481 {
  & section.gallery.columns-1 {
    max-width: 400px;

    &::before {
      bottom: -96px;
      left: -150px;
      width: 400px;
      height: 400px;
    }

    &::after {
      top: -96px;
      right: -97px;
      width: 400px;
      height: 400px;
      transform: rotate(18deg);
    }
  }
}

/*------------------------------*\
	TRAINING DESCRIPTIONS
\*------------------------------*/
body.page-id-475 {
  & main > article {
    & details {
      border-color: var(--Blue);

      &:nth-of-type(2n) {
        border-color: var(--Purple);
      }

      & summary {
        padding: var(--Medium) var(--xLarge) var(--Medium) var(--Large);
        font-weight: 800px;
        font-size: 24px;

        @media(--phone) {
          font-size: 28px;
        }
      }

      & > div {
        padding: var(--Medium) var(--Large);
      }
    }
  }
}

/*------------------------------*\
	ABOUT US
\*------------------------------*/
body.page-id-468 {
  & section.editor,
  & section.editor-2-column,
  & section.editor-3-column {
    & h2 {
      font-weight: 800;
      font-size: 20px;
      font-family: 'Karla', sans-serif;

      @media(--phone) {
        font-size: 24px;
      }
    }
  }
}

/*------------------------------*\
	WHAT IS OG
\*------------------------------*/
body.page-id-470 {
  & section.editor,
  & section.editor-2-column,
  & section.editor-3-column {
    & h2 {
      font-weight: 800;
      font-size: 20px;
      font-family: 'Karla', sans-serif;

      @media(--phone) {
        font-size: 24px;
      }
    }
  }
}

/*------------------------------*\
	LOGIN
\*------------------------------*/
body.page-id-2037 {
  & header.action-header {
    margin: 0;
    padding: var(--xLarge) 0;

    & p.subheader {
      padding: 0;
    }

    & img,
    & svg {
      display: none;
    }

    & + main {
      top: -68px;
      margin-bottom: 0;
    }
  }
}

/*------------------------------*\
	FAQ
\*------------------------------*/
body.page-id-487 {
  & main > article {
    & details {
      margin: 32px 0;

      & summary {
        padding: var(--Medium) var(--xLarge) var(--Medium) var(--Medium);
      }
    }
  }
}
