/*----------------------------------------------------------------*\
	ARCHIVE TRAINING TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-archive-training {
	& main {
		& section.main-section-1 {
			& form {
				display: grid;
				grid-template-columns: 1fr;
				grid-template-rows: auto;
				grid-gap: 8px;
				width: 100%;
				max-width: 100%;

				@media(--phone) {
					grid-template-columns: 1fr 1fr 1fr;
					grid-gap: 24px;
				}
			}

			& ul {
				margin: var(--xLarge) 0 0 0;
				padding: 0;
				list-style: none;

				&>li {
					display: grid;
					position: relative;
					grid-template-columns: 1fr;
					grid-template-rows: auto;
					grid-gap: 0;
					justify-content: flex-start;
					align-items: center;
					margin: 0 0 24px 0;
					padding: 0;
					list-style: none;
					font-weight: 800;
					box-shadow: none;

					@media(--tablet) {
						grid-template-columns: 2.5fr 1.5fr 1fr 1.5fr 1fr;
					}

					&:before {
						display: none;
					}

					&:first-child {
						display: none;

						@media(--tablet) {
							display: grid;
						}
					}

					&:first-child>div {
						display: flex;
						justify-content: flex-start;
						align-items: center;
						height: 100%;
						padding: 12px 14px;
						text-align: left;
					}
				}

				&>a {
					color: inherit;
					text-decoration: none;

					&:hover,
					&:focus {
						& li {
							box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
							transform: scale(0.995);

							&>div:first-child {
								text-decoration: underline;
							}
						}
					}

					& li {
						display: grid;
						position: relative;
						grid-template-columns: 1fr;
						grid-template-rows: auto;
						grid-gap: 0;
						justify-content: flex-start;
						align-items: center;
						margin: 0 0 24px 0;
						padding: 0;
						list-style: none;
						box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);
						transition: all 0.15s linear;

						@media(--tablet) {
							grid-template-columns: 2.5fr 1.5fr 1fr 1.5fr 1fr;
						}

						&:before {
							display: none;
						}

						&:first-child {
							border-left: 8px solid transparent;
						}

						&.tr1 {
							border-left: 8px solid var(--Blue);
						}

						&.tr2 {
							border-left: 8px solid var(--Purple);
						}

						&>div {
							display: flex;
							justify-content: flex-start;
							align-items: center;
							height: 100%;
							padding: 0 14px 8px 14px;
							text-align: left;

							@media(--tablet) {
								padding: 18px 14px;
							}

							&:first-child {
								padding: 8px 14px;
								color: var(--Blue);
								font-weight: 600;

								@media(--tablet) {
									padding: 18px 14px;
								}
							}

							&:nth-child(3) {
								font-weight: 600;
							}

							& span {
								font-weight: 600;

								&.available {
									color: var(--Green);
								}

								&.wait {
									color: var(--Red);
								}
							}
						}
					}
				}
			}

			& a.load-more {
				display: table;
				margin: var(--xLarge) auto;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	SINGLE TRAINING TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-single-training {
	& header .price-card {
		position: relative;
		margin: 64px auto;

		&::before {
			display: block;
			z-index: -1;
			position: absolute;
			bottom: -211px;
			left: -354px;
			width: 500px;
			height: 500px;
			content: "";
			background-image: url(../images/sand.png);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			transform: rotate(230deg);

			@media(--phone) {
				bottom: -120px;
				left: -280px;
			}
		}

		&::after {
			display: block;
			z-index: -1;
			position: absolute;
			top: -160px;
			right: -321px;
			width: 500px;
			height: 500px;
			content: "";
			background-image: url(../images/sand.png);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			transform: rotate(103deg);
		}

		& .description .details {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 0;

			@media(--phone) {
				grid-template-columns: 1fr 1.5fr 1.5fr;
				grid-gap: 40px;
			}

			& h2 {
				font-weight: 800;
				font-size: 16px;
				line-height: 1.1;
				font-family: 'Karla', sans-serif;
			}

			& .button {
				max-width: 100%;
			}

			& #loginPopup {
				display: none;
				z-index: 100;
				position: absolute;
				top: 190px;
				left: -11px;
				width: 100%;
				height: 100%;
				padding-top: 100px;
				overflow: inherit;
				background-color: none;

				& .form-popup {
					z-index: 100;
					max-width: 230px;
					margin: 0 auto;
					border-radius: 3px;
					background: #fff;
					box-shadow: rgba(0, 0, 0, 0.4) 0 10px 26px;
					transition: transform 0.15s ease;
					transform: scale(0.98, 0.98) translateY(5px);

					-webkit-user-select: none;
					-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

					& ul {
						padding: 10px !important;
						list-style: none;

						& li {
							padding: 10px 5px;

							&::before {
								display: none;
							}

							& a {
								color: #000;
								text-decoration: none;

								& img {
									width: 19px;
									margin-right: 10px;
								}
							}
						}
					}
				}
			}
		}
	}

	& main {
		display: grid;
		position: relative;
		grid-template-columns: 1fr;
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;

		@media(--tablet) {
			grid-template-columns: 2fr 1fr;
			grid-gap: 64px;
		}

		&>article {
			margin-top: 0;

			& p,
			& p span,
			& ul,
			& ul li,
			& ul li span {
				color: var(--GreyDark) !important;
				font-size: 16px !important;
				line-height: 1.618 !important;
				font-family: Karla, sans-serif !important;
			}

			& form {
				max-width: 100%;
				margin: 0;

				& .gfield_radio {
					display: flex;
					flex-wrap: wrap;

					& li {
						margin-right: 24px;

						&:last-child {
							margin-right: 0;
						}
					}
				}

				& button {
					margin-top: 32px;
				}
			}
		}
	}

	& aside {
		& .card {
			position: relative;
			margin-bottom: 40px;
			padding: 0 32px 32px 32px;
			background-color: var(--White);
			box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);

			&::before {
				display: block;
				position: relative;
				left: -32px;
				width: calc(100% + 64px);
				height: 24px;
				margin-bottom: 32px;
				content: '';
				background-image: url(../images/pattern_blue_small.jpg);
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
			}

			&:nth-child(2n)::before {
				background-image: url(../images/pattern_red_small.jpg);
			}

			&:nth-child(3n)::before {
				background-image: url(../images/pattern_yellow_small.jpg);
			}

			&>*:first-child {
				margin-top: 0;
			}

			&>*:last-child {
				margin-bottom: 0;
			}

			& h2 {
				margin: 0;
				font-size: 28px;
			}

			& .hours {
				margin: 0;
				font-weight: 300;
				font-size: 32px;
				line-height: 1.2;
				font-family: 'lexia', serif;
			}
		}

		& .credits {
			& p:first-of-type {
				color: var(--Grey);
			}

			& p:last-child {
				color: var(--Grey);
				font-size: 14px;
			}
		}

		& .share {
			& img {
				width: auto;
				height: 72px;
			}

			& .gform_wrapper {
				margin: 0;
			}
		}
	}
}