/*-----------------------------------*\
	ANIMATED BOXES
\*-----------------------------------*/
.animated-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  @media(--phone) {
    justify-content: space-between;
  }

  & .animated-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 0 var(--Large) 0;
    padding: 0;
    border-bottom: 8px solid var(--Blue);
    overflow: hidden;
    color: var(--Black);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    text-align: center;
    cursor: pointer;
    background-color: var(--GreyLight);

    &:before {
      display: none;
    }

    & .content {
      position: absolute;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      padding: var(--Medium);
      color: var(--White);
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      text-align: left;
      background-color: var(--Blue);
      transition: all 0.2s linear;

      & b,
      & strong {
        display: block;
        margin-bottom: var(--Small);
      }
    }

    &:hover,
    &:focus {
      & .content {
        top: 0;
      }
    }

    &:nth-child(2n) {
      border-color: var(--BlueDark);

      & .content {
        background-color: var(--BlueDark);
      }
    }

    &:nth-child(3n) {
      border-color: var(--Red);

      & .content {
        background-color: var(--Red);
      }
    }

    &:nth-child(4n) {
      border-color: var(--Yellow);

      & .content {
        color: var(--Black);
        background-color: var(--Yellow);
      }
    }

    &:nth-child(5n) {
      border-color: var(--Green);

      & .content {
        color: var(--Black);
        background-color: var(--Green);
      }
    }
  }
}
