/*-----------------------------------*\
	COOKIE CONSENT
\*-----------------------------------*/
#gdpr-cookie-message {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  left: 2em;
  max-width: 550px;
  padding: 2em;
  background-color: var(--White);
  box-shadow: 0 7px 27px 0 rgba(0, 0, 0, 0.13);

  & > h4 {
    margin-top: 0;
  }

  & h5 {
    margin: var(--Medium) 0 var(--Small) 0;
    font-size: 18px;
  }

  & button {
    color: var(--White);
    background-color: var(--Blue);

    &:hover,
    &:focus {
      background-color: var(--BlueDark);
      box-shadow: none;
    }
  }

  & > p {
    &:last-of-type {
      margin-bottom: 0;
    }

    & button {
      &:first-of-type {
        margin-right: 1.5em;
      }
    }
  }

  & > div {
    & ul {
      margin: 0 0 var(--Large) 0;
      padding: 0;
      list-style-type: none;

      & li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: var(--Small);
        background-image: none;

        &:before {
          display: none;
        }

        &:first-child {
          cursor: not-allowed;
          background-color: var(--GreyLight);

          & input[type="checkbox"]:checked {
            border-color: var(--Grey);
            background-color: var(--Grey);
          }
        }

        & input {
          width: 30px;
        }

        & span {
          width: 100%;
          padding-left: 32px;
          font-size: 12px;
        }
      }
    }
  }

  & input[type="checkbox"] {
    position: relative;
    top: 8px;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    margin-right: var(--Small);
    border: 2px solid var(--GreyLight);
    border-radius: 4px;
    vertical-align: middle;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;

    &:checked {
      border-color: var(--Green);
      background-color: var(--Green);

      & + label {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  & label {
    position: relative;
    margin: 0;
    padding: 0;
    color: var(--Black);
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    vertical-align: middle;
    letter-spacing: 0.5px;
    cursor: pointer;

    &::before {
      display: block;
      opacity: 0;
      position: absolute;
      top: 6px;
      left: -27px;
      width: 16px;
      height: 16px;
      content: '';
      background-image: url(../images/checkmark-white.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.15s linear;
    }
  }
}
