/*-----------------------------------*\
	SIMPLE NAVIGATION
\*-----------------------------------*/
nav.simplfied-nav {
	padding: 30px 16px 16px 0px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
	margin-bottom: 32px;

	@media(--phone) {
		padding: 30px 32px 16px 10px;
		align-items: center;
	}

	& img {
		height: 72px;
		margin-top: -14px;
		position: relative;
		z-index: 2;
		display: block;

		@media(--phone) {
			height: 96px;
			margin-top: -26px;
		}
	}

	& a.button {
		margin: 0;
		font-size: 14px;

		@media(--phone) {
			font-size: 16px;
		}
	}

	&::after {
		content: '';
		display: block;
		background-image: url('../images/pattern_yellow_wide.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 24px;
		position: absolute;
		top: 0;
		left: 0;
	}
}