/*-----------------------------------*\
	NOTIFICATION BAR
\*-----------------------------------*/
.notification-bar {
	z-index: 999999;
	position: relative;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	background-color: var(--BlueDark);

	&.note-on {
		max-height: 100vh;
	}

	&>div {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		width: 95%;
		max-width: 1169px;
		margin: 0 auto;
		padding: var(--Small) 0;
	}

	& p {
		margin: 0;
		color: var(--White);
		font-weight: 100;
		font-size: 14px;
		line-height: 1.1;
		letter-spacing: 0.5px;
	}

	& a {
		color: var(--White);
		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--White);
		}
	}

	& button {
		flex-shrink: 0;
		min-width: 0;
		margin-right: var(--Medium);
		padding: 4px 8px;
		background-color: var(--White);
		color: var(--BlueDark);
		box-shadow: none;

		&:last-child {
			margin: 0 0 0 var(--Medium);
		}

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--Blue);
			box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.5);
		}

		&.is-icon {
			padding: 0;
			background-color: transparent;
		}

		& svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: var(--White);
		}
	}
}

/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.cookie-useage-notification {
	position: fixed;
	bottom: 0;
}